html,
body,
h1,
h2,
p {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100hw;
    overflow-x: hidden;
}

* {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(#281EFF, #2DFF8C);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

p {
    font-size: 1rem;
}

h1 {
    font-family: 'Satisfy', cursive; 
    font-size: 10rem;
    text-shadow: 0px 0px 35px #00000087;
    font-weight: 200;
    padding-top: 30px;
    text-align: center;
    
}

h2 {
    padding: 0.75rem 0px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    margin-top: 4.375rem;
}


input {
    border: 1.5px solid white;
    background-color: #f6f6f645 ;
    width: 18.75rem;
    height: 2rem;
}

button { 
    background-color: white;
    font-size: 17px;
    color:#1C1C1C ;
    width: 12.375rem;
    min-height: 3.125rem;
    border: none;
    margin-top: 1rem;
    font-weight: 200;
    
}



@media (min-width: 320px )
              and (max-width: 768px){

                form {
                    flex-direction: column;
                    gap: 1rem;
                }

                h1 {
                    font-size: 6.25rem;
                }

                p {
                    padding: 0px .625rem;
                }

                .labels {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
                

                
            }